@import '../App/App.scss';

.book-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vh;
}

.book-title {
  height: 35px;
}

.book-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 20px;
  background: $white-green;
}

img {
  height: 20vh;
}