
$black-green: #26240A;
$dark-green: #403D12;
$light-green: #8C862A;
$medium-green: #736D2280;
$white-green: #F2EEB6;

@mixin scales {
  background:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgZmlsbD0iIzhhMyI+PC9yZWN0Pgo8Y2lyY2xlIHI9IjkuMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iIzIwMCIgZmlsbD0ibm9uZSI+PC9jaXJjbGU+CjxjaXJjbGUgY3k9IjE4LjQiIHI9IjkuMiIgc3Ryb2tlLXdpZHRoPSIxLjVweCIgc3Ryb2tlPSIjMjAwIiBmaWxsPSJub25lIj48L2NpcmNsZT4KPGNpcmNsZSBjeD0iMTguNCIgY3k9IjE4LjQiIHI9IjkuMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iIzIwMCIgZmlsbD0ibm9uZSI+PC9jaXJjbGU+Cjwvc3ZnPg==");

}

.App {
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
}

html {
  background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://www.publicdomainpictures.net/pictures/160000/velka/scales-4.jpg");
  background-size: 150px;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
