@import '../App/App.scss';

header {
  border: 5px solid $black-green;
  background: $white-green;
  padding: 2vh;
  margin-block-end: 4vh;
}

.active {
  button {
    background-color: darkgrey;
  }
}