@import '../App/App.scss';

header {
  border: 5px solid $black-green;
  background: $medium-green;
  background: linear-gradient( #00b40080, #00b40080), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
  padding: 2vh;
  margin-block-end: 4vh;
  button {
    color: #000000;
    background-color: #D6C73C;
  }
}

.active {
  button {
    background-color: #726a20;
  }
}

h1 {
  font-size: 80px;
  margin-block-start: 0em;
  margin-block-end: 0.33em;
}

.reptile-image {
  button {
    height: 10vh;
  }
  img {
    height: 10vh;
    width: 19vw;
  }
  display: flex;
  justify-content: space-evenly;
}

.button-and-image {
  display: flex;
  flex-flow: column;
}